{% load static %}

<head>
<meta charset="utf-8">
<title>Modify PBI</title>
<link rel="stylesheet" type="text/css" href="{% static '\backtrackapp\backtrackStyle.css' %}">
</head>

<span class="contentTitle">Modify PBI - {{pbi.name}}</span><p>

<div>

<form method="POST">
{% csrf_token %}
<input type="hidden" name="pbi" value="{{pbi.id}}">
<div>
Name: <input type="text" value={{pbi.name}} name="newName">
</div><br>
<div>
Description: <input type="text" value={{pbi.desc}} name="newDesc">
</div><br>
<div>
Priority: <input type="text" value={{pbi.priority}} name="newPri">
</div><br>
<div>
Story Points: <input type="text" value={{pbi.storypoints}} name="newSto">
</div><br>
<div>
Status: <input type="text" value={{pbi.status}} name="newSta">
</div><br>
<input class="actionButton" type="submit" value="Save" name="savePBI">
</form>

</div>
