{% load static %}

<head>
  <title>Modify PBI</title>
  <link rel="stylesheet" type="text/css" href="{% static '\backtrackapp\backtrackStyle.css' %}">
</head>

<span class="contentTitle">Modify PBI: {{pbi.name}}</span>
<form method="POST" id="modPBIForm">
  {% csrf_token %}

  <input type="hidden" name="pbi" value="{{pbi.id}}">

  <table>
    {% autoescape off %}
    <tr>
      <td>Name:</td>
      <td><input type="text" value="{{pbi.name|escape}}" name="newName"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" value="{{pbi.desc|escape|safe}}" name="newDesc"></td>
    </tr>
    {% endautoescape %}
    <tr>
      <td>Priority:</td>
      <td><input type="text" value={{pbi.priority}} name="newPri"></td>
    </tr>
    <tr>
      <td>Story Points:</td>
      <td><input type="text" value={{pbi.storypoints}} name="newSto"></td>
    </tr>
    <tr>
      <td>Status:</td>
      <td>
        <select name="newSta" form="modPBIForm">
          {% for option in choices %}
          <option value={{option.value}} selected={{option.selected}}>{{option.status}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
  </table>

  <p>
    <input class="actionButton" type="submit" value="Save" name="savePBI">
  </form>
