{% load static %}

<head>
  <title>Modify Task</title>
  <link rel="stylesheet" type="text/css" href="{% static '\backtrackapp\backtrackStyle.css' %}">
</head>

<span class="contentTitle">Modify Task: {{task.name}}</span>
<form method="POST" id="modTaskForm">
  {% csrf_token %}

  <table>
    {% autoescape off %}
    <tr>
      <td>Task Name:</td>
      <td><input type="text" value="{{task.name|escape}}" name='name'></td>
    </tr>
    <tr>
      <td>Task Description:</td>
      <td><input type="text" value="{{task.desc|escape}}" name='desc'></td>
    </tr>
    {% endautoescape %}
    <tr>
      <td>Assign Developer to Task:</td>
      <td>
        <select name="assignment" form="modTaskForm">
          {% for user in availableUsers %}
          <option value={{user.pk}}>{{user.name}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>Status:</td>
      <td>
        <select name="status" form="modTaskForm">
          {% for option in choices %}
          <option value={{option.value}} selected={{option.selected}}>{{option.status}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>Burndown:</td><td><input type="number" value={{task.burndown}} name='burndown'></td>
    </tr>
  </table>

  <p>
    <input class="actionButton" type="submit" value="Save" name="modifyTask">
  </form>
  <span class="actionButton"><a class="linkbutton" href="{% url 'backtrack:project_sb' task.pbi.project.id %}">Back to Sprint Backlog</a></span>
