{% load static %}

<head>
  <title>New PBI</title>
  <link rel="stylesheet" type="text/css" href="{% static '\backtrackapp\backtrackStyle.css' %}">
</head>

<span class="contentTitle">Create New PBI</span>
<form method="POST">
  {% csrf_token %}

  <table>
    {{ form.non_field_errors }}
    {% for field in form.visible_fields %}
    <tr>
      <td valign="top"><div>{{ field.label_tag }}</div></td>
      <td class="fieldWrapper">
        <div>{{ field }}</div>
        <div class="errorFieldWrapper">{{ field.errors }}</div>
        <div class="helpFieldWrapper">{{ field.help_text }}</div>
      </td>
    </tr>
    {% endfor %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
  </table>

  <p>
    <input class="actionButton" type="submit" value="Create New PBI" name="createNewPBI">
  </form>
