{% extends 'base.html' %}
{% load static %}

{% block title %}Sprint Backlog{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '\backtrackapp\sprintbacklog.css' %}">

<div>
  <span class="actionButton"><a href="{% url 'backtrack:project_pb' project.id %}">Product Backlog</a></span>
  <span class="actionButton"><a href="{% url 'backtrack:project_sb' project.id %}">Sprint Backlog</a></span>
</div>

<div class="tabContent">
  <a href="{% url 'backtrack:index' %}"><img class="iconCollapse" src="{% static '\backtrackapp\images\icon4.jpg' %}"></a>
  <div class="contentTitle">Sprint Backlog</div>

    <div id="pastSprints">
      {% if project.sprint_set.count > 0 %}
      <form method="POST">
        {% csrf_token %}
        {% for sprint in project.sprint_set.all %}
        <button class="actionButton" name="sprint_id" type="submit" value="{{sprint.id}}"">
          <a>
            {% if sprint == project.trylatestSprint %}<b>(current)</b>{% endif %}
            Sprint {{sprint}}
          </a>
        </button>
        {% endfor %}
      </form>
      {% else %}
      <span class="contentTitle">No sprint is created in this project</span>
      {% endif %}
    </div>

  <div>
    <span class="contentTitle">Sprint {{sprint.number}}</span><br>

    <table class="sprint_stats">
      <tr>
        <td class="displayTableCell">Total Sprint Capacity</td>
        <td class="displayTableCell">Total Estimated Effort</td>
        <td class="displayTableCell">Total Burndown</td>
        <td class="displayTableCell">Total Effort Remaining</td>
      </tr>
      <tr>
        <td class="displayTableCell">{{sprint.capacity}}</td>
        <td class="displayTableCell">{{sprint.totalEstimatedEffort}}</td>
        <td class="displayTableCell">{{sprint.totalBurndown}}</td>
        <td class="displayTableCell">{{sprint.totalEffortRemaining}}</td>
      </tr>
    </table>

    <span>Tasks in the selected sprint</span><br>
      <table class="displayTable">
        <tr>
          <td class="displayTableCell"><b>Parent PBI</b></td>
          <td class="displayTableCell"><b>Task Name</b></td>
          <td class="displayTableCell"><b>Task Description</b></td>
          <td class="displayTableCell"><b>Status</b></td>
          <td class="displayTableCell"><b>Developer Assigned</b></td>
          <td class="displayTableCell"><b>Estimated</b></td>
          <td class="displayTableCell"><b>Burndown</b></td>
          <td class="displayTableCell"><b>Remaining Effort</b></td>
          <td class="displayTableCell"><b>Actions</b></td>
        </tr>

        {% for sprintPBI in sprintPBI_set %}
        <tr>
          <td class="PBIinfo" rowspan="{{sprintPBI.task_set.count}}">
            <form method="POST" class="sprintPBIcontent">
              {{ sprintPBI.name }}
              {% csrf_token %}
              <input type="hidden" name="pbi_id" value={{sprintPBI.id}}>
              <input type="submit" value="Add Task to PBI" name="add_task">
              <input type="submit" value="Remove PBI from Sprint" name="remove_pbi">
            </form>
          </td>

          {% for task in sprintPBI.task_set.all %}
            <td class="displayTableCell">{{ task.name }}</td>
            <td class="displayTableCell">{{ task.desc }}</td>
            <td class="displayTableCell">{{ task.get_status_display }}</td>
            <td class="displayTableCell">{{ task.assignment }}</td>
            <td class="displayTableCell">{{ task.estimate }}</td>
            <td class="displayTableCell">{{ task.burndown }}</td>
            <td class="displayTableCell">{{task.remainingEffort}}</td>
            <td class="displayTableCell">
              <form method="POST" class="taskModButtons">
                {% csrf_token %}
                <input type="hidden" name="task_id" value={{task.pk}}>
                <input type="submit" value="Delete Task" name="delete_task">
                <input type="submit" value="Modify Task" name="modify_task">
              </form>
            </td>
          </tr>
          {% endfor %}
        {% endfor %}
        </table>
        
    </div>

</div>

{% endblock %}
