{% if user.current_project %}
  <h3><a href="{% url 'backtrack:project_pb' current_project.id %}">{{current_project.name}}</a></h3>
{% endif %}

  {% if projects %}
    <ul>
      {% for project in projects %}
      <div>
        <h3><a href="{% url 'backtrack:project_pb' project.id %}">{{project.name}}</a></h3>
        <p>{{project.desc}}</p>
      </div>
      {% endfor %}
    <ul>
  {% else %}
    <h2> No projects currently </h2>
  {% endif %}

  <h2> Create new project </h2>
  <form method="POST">
    {% csrf_token %}
    {{projectForm.as_p}}
    <p>Product Owner: {{user.name}}</p>
    {{teamForm.as_p}}
  <input type="submit" value="Create Project">
  </form>
