<h3>New Task View</h3>
<h4>{{pbi.name}}</h4>

  {% for task in pbi.task_set.all %}
   <div>
     <form method="POST">{% csrf_token %}
       <p><b>{{task.name}}</b>: {{task.desc}}</p>
       <input type="hidden" name="task" value="{{task.id}}" />
       <input type="submit" value="modify" name="modifyTask">
       <input type="submit" value="delete" name="deleteTask">
      </form>
  </div>
  {% endfor %}

<h3>Add Task</h3>
<form method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Add task" name="addTask">
</form>
