{% extends 'base.html' %}
{% load static %}

{% block title %}ProductOwnerProductBacklog{% endblock %}
{% block content %}

<marquee direction="right" height="30" scrollamount="5" behavior="alternate">Welcome, Product Owner! Here is your current project</marquee>

<div>
<span class="actionButton"><a href="{% url 'backtrack:project_pb' project.id %}">Product Backlog</a></span>
<span class="actionButton"><a href="{% url 'backtrack:project_sb' project.id %}">Sprint Backlog</a></span>
</div>

<div class="tabContent">
<a href="{% url 'backtrack:index' %}"><img class="iconCollapse" src="{% static '\backtrackapp\images\icon4.jpg' %}"></a>
<div class="contentTitle">Product Backlog</div><p>





  <div id="heading">
    <div id="title"><h1>BackTrack</h1></div>
    <div id="user"><h3>(USERNAME)<br>Product Owner</h3></div>
    <div id="subTitle"><h3>View my <a href="{% url 'backtrack:project_pb' project.id %}">{{project.name}}</a> Product Backlog</h3></div>
  </div>

  <div id="sprintBacklog">
    {% if latestSprint %}
    <h3><a href="{% url 'backtrack:project_sb' latestSprint %}">Sprint backlog</a></h3>
    {% endif %}
  </div>

  <table id="mainFrame">
    <tr>

      <td>
        <div id="entriesPBI">

          <form method="POST">{% csrf_token %}
            <table id="PBI">
              <tr id="header">
                <td class="itemPBI">
                  <h4>NAME</h4>
                </td>
                <td class="itemPBI">
                  <h4>DESCRIPTION</h4>
                </td>
                <td class="itemPBI">
                  <h4>PRIORITY</h4>
                </td>
                <td class="itemPBI">
                  <h4>STORY POINT</h4>
                </td>
                <td class="itemPBI">
                  <h4>CUMULATIVE STORY POINTS</h4>
                </td>
                <td class="itemPBI">
                  <h4>STATUS</h4>
                </td>
                <td class="itemPBI">
                  <h4>FUNCTION BUTTON</h4>
                </td>
              </tr>
              {% for el in pbi_cum_points_list %}
              <tr>
                <td class="itemPBI">
                  <b><a href="{% url 'backtrack:modify_PBI' el.pbi.id %}" target="_parent">{{el.pbi.name}}</a></b>
                  <input type="hidden" name="pbi" value="{{el.pbi.id}}" />
                </td>
                <td class="itemPBI">
                  {{el.pbi.desc}}
                </td>
                <td class="itemPBI">
                  {{el.pbi.priority}}
                </td>
                <td class="itemPBI">
                  {{el.pbi.storypoints}}
                </td>
                <td class="itemPBI">
                  {{el.cum_points}}
                </td>
                <td class="itemPBI">
                  {{el.pbi.status}}
                </td>
                <td class="itemPBI">
                  <input type="submit" value="Add to Sprint" name="addToSprint"/><br>
                  <input type="submit" value="Delete PBI" name="deletePBI"/><br>
                  <input type="text" placeholder="Number of Child PBI" name="numOfChildPBI"><br>
                  <input type="submit" value="Split PBI" name="splitPBI"/>
                </td>
              </tr>
              {% endfor %}
            </table>
          </form>

        </div>
      </td>

      <td>
        <div id="createNewPBI">
          <form method="POST">
            {% csrf_token %}
            <h3>Create New PBI</h3>
            {{form.as_p}}
            <input type="submit" value="Create New PBI" name="createNewPBI"/>
          </form>
        </div>

      </td>

    </tr>
  </table>
  <div><h3>Total story point: <input type="text" disabled="true" size="10"></h3></div>

</div>

{% endblock %}
