<!DOCTYPE html>
<head>
  <title>Product Backlog</title>
</head>
<style>
  td {
    margin: auto;
    width: 50%;
    border: 3px solid #8AC007;
    padding: 10px;
  }
  .pbi{
    margin: auto;
    width: 80%;
    border: 3px solid green;
  }
  body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
</style>
<body>
  <h3>{{project.name}} Product Backlog</h3>
  <table style="width:100%">
    <tr>
      <td>
        <div class="left">
          {% for pbi in project.productbacklogitem_set.all %}
          <div class = "pbi">
            <form method="POST">{% csrf_token %}
              <p><b><a href="{% url 'backtrack:modifyPBI' pbi.id %}">{{pbi.name}}</a></b>: {{pbi.desc}}</p>
              <input type="hidden" name="pbi" value="{{pbi.id}}" />
              <input type="submit" value="Add to Sprint" name="addToSprint"/>
              <input type="submit" value="Delete PBI" name="deletePBI"/>
              <input type="text" value="Number of Child PBI" name="numOfChildPBI">
              <input type="submit" value="Split PBI" name="splitPBI"/>
            </form>
          </div>
          {% endfor %}
        </div>
      </td>
      <td>
        <div class="right">
          <form method="POST">
            {% csrf_token %}
            <h3>Create New PBI</h3>
            {{form.as_p}}
            <input type="submit" value="Create New PBI" name="createNewPBI"/>
          </form>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
