{% extends 'base.html' %}
{% load static %}

{% block title %}ScrumMasterProductBacklog{% endblock %}
{% block content %}

<marquee direction="right" height="30" scrollamount="5" behavior="alternate">Welcome, Scrum Master!</marquee>

<div>
<span class="actionButton"><a href="{% url 'backtrack:project_pb' project.id %}">Product Backlog</a></span>
<span class="actionButton"><a href="{% url 'backtrack:project_sb' project.id %}">Sprint Backlog</a></span>
</div>

<div class="tabContent">
<a href="{% url 'backtrack:index' %}"><img class="iconCollapse" src="{% static '\backtrackapp\images\icon4.jpg' %}"></a>
<div class="contentTitle">Product Backlog</div><p>





<div class="divider"></div>
<div class="columnView">
<div class="contentTitle">All PBIs</div><p>
<table class="displayTable">
<tr class="heading">
<td class="displayTableCell">Sprint</td>
<td class="displayTableCell">Name</td>
<td class="displayTableCell">Description</td>
<td class="displayTableCell">Priority</td>
<td class="displayTableCell">Storypoints</td>
<td class="displayTableCell">Cumulative Storypoints</td>
<td class="displayTableCell">Status</td>
</tr>
{% for el in pbi_cum_points_list %}
<tr>
<td class="displayTableCell">{{el.pbi.sprint}}</td>
<td class="displayTableCell">{{el.pbi.name}}</td>
<td class="displayTableCell">{{el.pbi.desc}}</td>
<td class="displayTableCell">{{el.pbi.priority}}</td>
<td class="displayTableCell">{{el.pbi.storypoints}}</td>
<td class="displayTableCell">{{el.cum_points}}</td>
<td class="displayTableCell">{{el.pbi.get_status_display}}</td>
</tr>
{% endfor %}
</table>
</div>





<div class="columnView">
<div class="contentTitle">PBIs In Progress</div><p>
<table class="displayTable">
<tr class="heading">
<td class="displayTableCell">SPRINT</td>
<td class="displayTableCell">NAME</td>
<td class="displayTableCell">DESCRIPTION</td>
<td class="displayTableCell">PRIORITY</td>
<td class="displayTableCell">STORY POINT</td>
<td class="displayTableCell">CUMULATIVE STORY POINTS</td>
</tr>
{% for el in pbi_cum_points_list %}
<tr>
<td class="displayTableCell">{{el.pbi.sprint}}</td>
<td class="displayTableCell">{{el.pbi.name}}</td>
<td class="displayTableCell">{{el.pbi.desc}}</td>
<td class="displayTableCell">{{el.pbi.priority}}</td>
<td class="displayTableCell">{{el.pbi.storypoints}}</td>
<td class="displayTableCell">{{el.cum_points}}</td>
</tr>
{% endfor %}
</table>
</div>
<div class="divider"></div>





</div>

{% endblock %}
