{% extends 'base.html' %}
{% load static %}

{% block title %} Scrum Master Project {% endblock %}
{% block content %}

{% for proj in projects %}
<div class="projectBlock">
  <img class="iconPin" src="{% static '\backtrackapp\images\icon1.jpg' %}">
  <img class="iconBell" src="{% static '\backtrackapp\images\icon3.jpg' %}">
  <br>
  <span class="contentTitle"><a href="{% url 'backtrack:project_pb' proj.id %}">{{proj.name}}</a></span><br>
  <div class="projectInfoBlock">
    <span class="helpFieldWrapper">Description: {{proj.desc}}</span><br>
    <span class="helpFieldWrapper">Status: {{proj.get_status_display}}</span><br>
    <span class="helpFieldWrapper">Start Date: {{proj.startDate}}</span><br>
    <span class="helpFieldWrapper">End Date: {{proj.endDate}}</span><br>
  </div>
  <a href="{% url 'backtrack:project_pb' proj.id %}"><img class="iconEnlarge" src="{% static '\backtrackapp\images\icon2.jpg' %}"></a>
</div>
{% endfor %}

{% endblock %}
