{% extends 'base.html' %}
{% load static %}

{% block title %} Scrum Master Project {% endblock %}
{% block content %}

{% for projTeam in projectTeamsManaged_list %}
<div class="projectBlock">
<img class="iconPin" src="{% static '\backtrackapp\images\icon1.jpg' %}">
<img class="iconBell" src="{% static '\backtrackapp\images\icon3.jpg' %}">
<br>
<span class="contentTitle">{{projTeam.project}}</span><br>
<div class="projectInfoBlock">
<span class="helpFieldWrapper">Description:<br>{{projTeam.project.desc}}</span><br>
<span class="helpFieldWrapper">Status:<br>{{projTeam.project.get_status_display}}</span><br>
<span class="helpFieldWrapper">Start Date:<br>{{projTeam.project.startDate}}</span><br>
<span class="helpFieldWrapper">End Date:<br>{{projTeam.project.endDate}}</span><br>
</div>
<a href="{% url 'backtrack:project_pb' projTeam.project.id %}"><img class="iconEnlarge" src="{% static '\backtrackapp\images\icon2.jpg' %}"></a>
</div>
{% endfor %}

{% endblock %}
