<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block content %}

<span class="contentTitle">Login</span><p>

<form method="post">
{% csrf_token %}
{{ form.non_field_errors }}

<table>
{% for field in form.visible_fields %}
<tr>
<td valign="top"><div>{{ field.label_tag }}</div></td>
<td class="fieldWrapper">
<div>{{ field }}</div>
<div class="errorFieldWrapper">{{ field.errors }}</div>
<div class="helpFieldWrapper">{{ field.help_text }}</div>
</td>
</tr>
{% endfor %}
</table>

{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}

<p>
<button class="actionButton" type="submit"><a>Login</a></button>
</form>

{% endblock %}
