<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}

<div id="headline">

Faster Creation, Easier Management, Better Tracking<p>
for your<p>
Agile Scrum Project<p>

{% if user.is_authenticated %}
<span class="actionButton"><a href="{% url 'backtrack:index' %}">Let's Get Started</a></span>
{% else %}
<span class="actionButton"><a href="{% url 'login' %}">Let's Get Started</a></span>
{% endif %}

</div>

{% endblock %}
