td .itemPBI {
  border: 3px solid black;
  padding: 5px;
  height: auto;
}

div#createNewPBI {
  border: 2px solid black;
  padding: 10px;
}

div#entriesPBI {
  height: 450px;
  overflow-y: scroll;
  align-items: center;
}

table#PBI {
  border-collapse: collapse;
}
