input {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

td .itemPBI {
  border: 3px solid black;
  padding: 5px;
  height: auto;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 10px;
}

div#user {
  display: inline-block;
  text-align: center;
  float: right;
}

table#mainFrame {
  width: 100%;
}

div#title {
  display: inline-block;
}

div#createNewPBI {
  border: 2px solid black;
  padding: 10px;
}

div#entriesPBI {
  height: 450px;
  overflow-y: scroll;
  align-items: center;
}

table#PBI {
  border-collapse: collapse;
}
