body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 10px;
}

input {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

div#title {
  display: inline-block;
}

div#user {
  display: inline-block;
  text-align: center;
  float: right;
}

div#pastSprints {
  height: auto;
  overflow-x: scroll;
  width: auto;
}

.sprint {
  border: 3px solid black;
  padding: 5px;
  height: auto;
  width: 250px;
}

.PBI {
  background-color: lightgreen;
}

table#mainFrame {
  width: 100%;
}

table#mainFrame table {
  border: 3px solid black;
}

table#mainFrame td {
  width: 50%;
  vertical-align: top;
}

table#taskTable {
  border-collapse: collapse;
}

table#taskTable, table#taskTable th, table#taskTable td {
  border: 1px solid black;
  width: 150px;
  padding-left: 10px;
  padding-right: 10px;
}
