.PBIinfo {
  border: 2px solid gray;
}

.sprintPBIcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskModButtons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sprint_stats{
  border-collapse: collapse;
  margin: 10px;
  margin-left: 0px;
}
